@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  color: #1c2520;
  background-color: #f5f0e8;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f5f0e8;
}
::-webkit-scrollbar-thumb {
  background: #047857;
  border-radius: 999px;
}

.text-balance {
  text-wrap: balance;
}
